<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTest">
  <test name="AllTest">
    <classes>
      <class name="com.diplom.AddressTest">
        <methods>
          <include name="testAddNewAddress"/>
        </methods>
      </class>
      <class name="com.diplom.GroupTest">
        <methods>
          <include name="testAddNewGroup"/>
        </methods>
      </class>    
    </classes>
  </test>  
</suite>